<div class="nav">
  <input type="text" [(ngModel)]="query" (keydown)="onKeyDown($event)" placeholder="Name of the movie..." class="buscador">
  <input type="image" src="../../../assets/photos/search.png" class="search" (click)="getMovies()">
</div>
<img *ngIf="movies.length == 0" src="../../../assets/photos/OKODE.png" id="logo" class="logo">
<div *ngFor="let movie of movies; let i = index" id="grid" class="grid">
  <div (click)="detalle(i)" class="marco">
    <img id="img" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.title}}">
    <h3 id="titulo">{{movie.title}}</h3>
    <div class="valoracion" style="background-image: {{getColor(movie.vote_average)}}; ">
      <p id="valor">{{movie.vote_average}}</p>
    </div>
  </div>
</div>
