.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buscador{
  margin-top: 15px;
  border-radius: 30px;
  border: 0px;
  padding: 10px;
  width: 40%;
}

.search{
  margin-top: 15px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}

.grid{
  margin-top: 30px;
  padding-left: 450px;
  font-family: Helvetica;
  font-size: 13px;
  justify-content: flex-start;
}

.movie{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: red;
}
