/* INICIO BOTÓN DOCU */
#docu{
  margin-left: auto;
  position: fixed;
  top: 4.6%;
  left: 9%;
  transform: translate(-50%, -50%);
}
/* FIN BOTÓN DOCU */

/* INICIO NAV */
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buscador{
  margin-top: 15px;
  border-radius: 30px;
  border: 0px;
  padding: 10px;
  width: 40%;
}

.search{
  margin-top: 15px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
}
/* FIN NAV */



/* INICIO LOGO */
.logo{
  visibility: visible;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  filter: drop-shadow(1px 1px 2px #000);
}
/* FIN LOGO  */



/* INICIO GRID */
.grid{
  margin-top: 30px;
  padding-left: 25%;
  font-family: Helvetica;
  font-size: 13px;
  justify-content: flex-start;
}

.marco{
  display: flex;
  align-items: center;
  width: 65%;
  margin-bottom: 10px;
  border-style: outset;
  border-color: aqua;
}

#img{
  width: 85px;
  height: 113px;
}

#titulo{
  margin-left: 5%;
  cursor: default;
}

.valoracion{
  margin-right: 5px;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 35px;
  width: 35px;
}

#valor{
  height: 100%;
  font-size: 17px;
  cursor: default;
  left: 50%;
  top: 50%;
  transform: translate(12%, -20%);
}
/* FIN GRID */
